[submodule "root/buildroot"]
        path = root/buildroot
        url = git://git.buildroot.net/buildroot
[submodule "fpga/uart"]
	path = fpga/uart
	url = https://github.com/pabennett/uart.git
[submodule "raspberrypi/buildroot"]
	path = raspberrypi/buildroot
	url = /home/geoffrey/buildroot
