[submodule "root/buildroot"]
        path = root/buildroot
        url = git://git.buildroot.net/buildroot
[submodule "fpga/uart"]
	path = fpga/uart
	url = https://github.com/pabennett/uart.git
[submodule "raspberrypi/buildroot"]
	path = raspberrypi/buildroot
	url = /home/geoffrey/buildroot
[submodule "arduino/lib/AX12A"]
	path = arduino/lib/AX12A
	url = https://github.com/ThingType/AX-12A-servo-library.git
[submodule "Servo"]
	path = arduino/lib/Servo
	url = https://github.com/arduino-libraries/Servo.git
[submodule "arduino/Arduino-Makefile"]
	path = arduino/Arduino-Makefile
	url = https://github.com/sudar/Arduino-Makefile.git
