# CLK
NET "CLK" LOC = "P43" | IOSTANDARD = LVTTL ;
NET "CLK" TNM_NET = "CLK";
TIMESPEC "TS_CLK" = PERIOD "CLK" 20 ns HIGH 50 %;


# BTN
NET "BTN" LOC = "P41" | IOSTANDARD = LVTTL ;

# IO<10>
NET "RX" LOC = "P85" | IOSTANDARD = LVTTL ;

# IO<11>
NET "TX" LOC = "P84" | IOSTANDARD = LVTTL ;

# IO<12>
NET "LEFTCHA" LOC = "P83" | IOSTANDARD = LVTTL ;

# IO<13>
NET "LEFTCHB" LOC = "P78" | IOSTANDARD = LVTTL ;

# IO<14>
NET "RIGHTCHA" LOC = "P77" | IOSTANDARD = LVTTL ;

# IO<15>
NET "RIGHTCHB" LOC = "P65" | IOSTANDARD = LVTTL ;

# IO<16>
NET "FRONTTRIGGER" LOC = "P70" | IOSTANDARD = LVTTL ;

# IO<17>
NET "FRONTLECHO" LOC = "P71" | IOSTANDARD = LVTTL ;

# IO<18>
NET "BACKTRIGGER" LOC = "P72" | IOSTANDARD = LVTTL ;

# IO<19>
NET "BACKLECHO" LOC = "P73" | IOSTANDARD = LVTTL ;

# IO<20>
NET "ENAREF" LOC = "P5" | IOSTANDARD = LVTTL ;

# IO<21>
NET "ENA" LOC = "P4" | IOSTANDARD = LVTTL ;

# IO<22>
NET "IN1ENC" LOC = "P6" | IOSTANDARD = LVTTL ;

# IO<23>
NET "IN2" LOC = "P98" | IOSTANDARD = LVTTL ;

# IO<24>
NET "ENBREF" LOC = "P94" | IOSTANDARD = LVTTL ;

# IO<25>
NET "ENB" LOC = "P93" | IOSTANDARD = LVTTL ;

# IO<26>
NET "IN3END" LOC = "P90" | IOSTANDARD = LVTTL ;

# IO<27>
NET "IN4" LOC = "P89" | IOSTANDARD = LVTTL ;

# IO<28>
 NET "FRONTRECHO" LOC = "P88" | IOSTANDARD = LVTTL ;

# IO<29>
 NET "BACKRECHO" LOC = "P86" | IOSTANDARD = LVTTL ;
